@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Open+Sans:wght@300&family=Roboto:wght@100;300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "GFS Didot", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background: #000000;
}
.container {
  width: 1200px;
  margin: 20px auto;
}
header {
  background: #121212;
  border-radius: 5px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h2 {
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
}
form {
  display: flex;
  align-items: center;
  position: relative;
}
form .search {
  width: 600px;
  height: 50px;
  background: #37373740;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #10101079;
  font-size: 17px;
  padding-left: 30px;
  outline: none;
  margin-right: 20px;
  position: relative;
}
form .clear-search {
  position: absolute;
  right: 40px;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}
main {
  margin: 50px 0px;
}
section {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.block h3 {
  color: #ffffff;
  font-size: 30px;
  margin: 0px 0px 20px 20px;
}
.box {
  width: 545px;
  height: 500px;
  background: #121212;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}
.box ul {
  list-style-type: none;
}
.box ul li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 10px;
}
.box ul li:hover {
  background: #090909;
  cursor: pointer;
  border-radius: 5px;
}
.song-details {
  display: flex;
  justify-content: space-between;
}
.song-details img {
  height: 50px;
  border-radius: 5px;
}
.song-and-artist-name {
  margin-left: 20px;
}
.song-name {
  color: #d6d6d6;
  font-weight: 300;
  font-size: 20px;
}
.artist-name {
  color: #9b9b9b;
  font-weight: 300;
  font-size: 15px;
}
.heart-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.love {
  color: #9b9b9b;
  font-size: 20px;
}

/* DARK SCROLLBAR */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-track {
  background-color: #222;
}
::-webkit-scrollbar-corner {
  background-color: #222;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-message {
  color: #fff;
}
